<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login - Mercado Express</title>
</head>
<body>

    <h1>Mercado Express</h1>

    <h2>Login</h2>


        <input
            type="text"
            name="username"
            placeholder="Usuário">

        <br><br>

        <input
            type="password"
            name="password"
            placeholder="Senha">

        <br><br>

    <button type="submit">
Entrar
</button>
 
</form>
 
<br>
<a href="localhost:8080/signup">Criar Conta</a>
 
</body>
</html>