
<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Mercado Express</title>
</head>
<body>
    <h1>Mercado Express</h1>
    <h2>Entrar na minha conta</h2>

    <p th:if="${param.error}">
        E-mail ou senha inválidos.
    </p>

    <p th:if="${param.registered}">
        Cadastro realizado! Faça seu login.
    </p>

    <form th:action="@{/login}" method="post">
        <input type="email" name="username"
               placeholder="E-mail" required>

        <br><br>

        <input type="password" name="password"
               placeholder="Senha" required>

        <br><br>

        <button type="submit">Entrar</button>
    </form>

    <p>Ainda não possui uma conta?</p>
    <a th:href="@{/signup}">Criar conta</a>
</body>
</html>
