
<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro - Mercado Express</title>
</head>
<body>
    <h1>Mercado Express</h1>
    <h2>Criar minha conta</h2>

    <p th:if="${erro}" th:text="${erro}"></p>

    <form th:action="@{/signup}" method="post">
        <input type="text" name="nome"
               placeholder="Nome completo" required>

        <br><br>

        <input type="email" name="email"
               placeholder="E-mail" required>

        <br><br>

        <input type="password" name="senha"
               placeholder="Senha" required
               minlength="8">

        <br><br>

        <button type="submit">Cadastrar</button>
    </form>

    <p>Já possui uma conta?</p>
    <a th:href="@{/login}">Fazer login</a>
</body>
</html>
